* {
  margin: 0;
  padding: 0;
}

#game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333333;
}

.grid {
  transition: 100ms ease-in-out;
}
